body{
	width: 100%;
}

h1{
	margin: 0;
}

header{
	background-color: #000;
}

header h1{
	color: #fff;
	text-align: center;
}

img{
	width: 15em;
	height: 20em;
}

.movies{
	margin-left: 5%;
}

.ng-valid.ng-dirty{
	border-color: green;
}

.ng-invalid.ng-dirty{
	border-color: red;
}